[Desktop Entry]
Type=Application
Name=sxiv
GenericName=Image Viewer
Exec=sxiv -b -f -a %F
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/tiff;image/x-bmp;image/x-portable-anymap;image/x-portable-bitmap;image/x-protable-graymap;image/x-tga;image/x-xpixmap;
NoDisplay=true
Icon=sxiv
